@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.element1 {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

  background: papayawhip;
}

.element2 {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

  background: pink;
}

.element3 {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

  background: lightcyan;
}

.container {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;
}

.container1 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container2 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container3 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container4 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container5 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container6 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container7 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container8 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}

.container9 {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;

  display: table-cell;
}
